Repository miIlicon/wf-back, pull requests merged in 2023-05, with the labels that each got.

#4 feat: 주점 생성 로직 추가 (미완성) (#3)
  src/main/java/com/festival/domain/info/festivalPub/controller/FestivalPubController.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/FestivalPubReq.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/reqest/PubRequest.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/response/PubResponse.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/FestivalPub.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/FestivalPub.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/PubState.java
  src/main/java/com/festival/domain/info/festivalPub/repository/FestivalPubRepository.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubImageRepository.java
  src/main/java/com/festival/domain/info/festivalPub/service/FestivalPubService.java
Labels: enhancement

#6 feat: GlobalExceptionAdvice 추가 (#5)
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/FilePath.java
  src/main/java/com/festival/global/exception/ErrorCode.java
  src/main/java/com/festival/global/exception/ErrorResponse.java
  src/main/java/com/festival/global/exception/GlobalExceptionAdvice.java
  src/main/java/com/festival/global/exception/baseException.java
Labels: enhancement

#8 feat: admin 객체 일부 추가 (#7)
  build.gradle
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/domain/admin/data/entity/Admin.java
  src/main/java/com/festival/domain/admin/exception/AdminException.java
  src/main/java/com/festival/domain/admin/repository/AdminRepository.java
  src/main/java/com/festival/global/base/BaseTimeEntity.java
Labels: enhancement

#10 feat: 축제 주점 생성 로직 추가 (#3)
  .gitignore
  src/main/java/com/festival/domain/admin/data/entity/Admin.java
  src/main/java/com/festival/domain/info/festivalPub/controller/FestivalPubController.java
  src/main/java/com/festival/domain/info/festivalPub/controller/PubController.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/reqest/PubRequest.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/request/PubRequest.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/response/PubResponse.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/SubFilePath.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/PubState.java
  src/main/java/com/festival/domain/info/festivalPub/repository/FestivalPubRepository.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepository.java
  src/main/java/com/festival/domain/info/festivalPub/repository/SubFilePathRepository.java
  src/main/java/com/festival/domain/info/festivalPub/service/FestivalPubService.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
  src/main/java/com/festival/global/customAnnotation/customEnum/Enum.java
  src/main/java/com/festival/global/customAnnotation/customEnum/EnumValidator.java
  src/main/java/com/festival/global/exception/ErrorResponse.java
  src/main/java/com/festival/global/exception/GlobalExceptionAdvice.java
  src/main/resources/application.yml
Labels: enhancement

#12 error: pub상태값 boolean으로 수정 (#11)
  src/main/java/com/festival/domain/info/festivalPub/data/dto/request/PubRequest.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/response/PubResponse.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
  src/main/java/com/festival/global/customAnnotation/customEnum/Enum.java
  src/main/java/com/festival/global/customAnnotation/customEnum/EnumValidator.java
Labels: bug

#17 feat : foodTruck controller initialize (#16)
  src/main/java/com/festival/domain/foodTruck/controller/FoodTruckController.java
  src/main/java/com/festival/domain/foodTruck/data/dto/request/FoodTruckRequest.java
  src/main/java/com/festival/domain/foodTruck/data/dto/response/FoodTruckResponse.java
  src/main/java/com/festival/domain/foodTruck/service/FoodTruckService.java
  src/main/java/com/festival/domain/foodTruck/service/impl/FoodTruckServiceImpl.java
Labels: Feature

#18 Feature/14 festival event cr
  src/main/java/com/festival/domain/foodTruck/controller/FoodTruckController.java
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventReq.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventRes.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEventImage.java
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventImageRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
Labels: BugFix, Feature

#24 refactor: 주점 조회 로직 개선 (#23)
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruck.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruckImage.java
  src/main/java/com/festival/domain/info/festivalPub/controller/PubController.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryCustom.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryImpl.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
  src/main/java/com/festival/global/base/BaseTimeEntity.java
  src/main/resources/application.yml
Labels: BugFix, Refactor

#27 Feat : FoodTruck 상세조회, 목록 조회 구현 (#25)
  src/main/java/com/festival/common/vo/SearchCond.java
  src/main/java/com/festival/domain/foodTruck/controller/FoodTruckController.java
  src/main/java/com/festival/domain/foodTruck/data/dto/response/FoodTruckCreateResponse.java
  src/main/java/com/festival/domain/foodTruck/data/dto/response/FoodTruckResponse.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruckImage.java
  src/main/java/com/festival/domain/foodTruck/repository/FoodTruckCustomRepository.java
  src/main/java/com/festival/domain/foodTruck/repository/FoodTruckRepository.java
  src/main/java/com/festival/domain/foodTruck/repository/impl/FoodTruckRepositoryCustomImpl.java
  src/main/java/com/festival/domain/foodTruck/service/FoodTruckService.java
  src/main/java/com/festival/domain/foodTruck/service/impl/FoodTruckServiceImpl.java
Labels: Feature

#28 축제 이벤트 단일, 전체 조회API
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventRes.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
  src/main/java/com/festival/initData/NotProd.java
Labels: Feature

#30 축제영상 초기작업
  src/main/java/com/festival/domain/film/controller/FilmController.java
  src/main/java/com/festival/domain/film/data/dto/FilmReq.java
  src/main/java/com/festival/domain/film/data/dto/FilmRes.java
  src/main/java/com/festival/domain/film/data/entity/Film.java
  src/main/java/com/festival/domain/film/repository/FilmRepository.java
  src/main/java/com/festival/domain/film/service/FilmService.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/video/controller/VideoController.java
  src/main/java/com/festival/domain/video/data/dto/VideoReq.java
  src/main/java/com/festival/domain/video/data/entity/Video.java
  src/main/java/com/festival/domain/video/repository/VideoRepository.java
  src/main/java/com/festival/domain/video/service/VideoService.java
Labels: Feature

#32 festivalFilm 단건, 전체 조회로직 구현
  src/main/java/com/festival/domain/film/controller/FilmController.java
  src/main/java/com/festival/domain/film/repository/FilmRepository.java
  src/main/java/com/festival/domain/film/service/FilmService.java
Labels: Feature

#35 refactor: 주점 dto subFiles 분리 (#34)
  src/main/java/com/festival/domain/info/festivalPub/controller/PubController.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/request/PubRequest.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: Refactor

#39 refactor: Common 객체 dto 통일, BaseTimeEntity 위치 변경 (#37)
  src/main/java/com/festival/common/base/BaseTimeEntity.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruck.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/info/festivalPub/data/dto/request/PubSearchCond.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryCustom.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryImpl.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: Refactor

#43 Feat/40 푸드트럭 삭제 및 수정 구현
  src/main/java/com/festival/common/utils/ImageServiceUtils.java
  src/main/java/com/festival/domain/foodTruck/controller/FoodTruckController.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruck.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruckImage.java
  src/main/java/com/festival/domain/foodTruck/service/FoodTruckService.java
  src/main/java/com/festival/domain/foodTruck/service/impl/FoodTruckServiceImpl.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryCustom.java
  src/main/java/com/festival/domain/info/festivalPub/repository/PubRepositoryImpl.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: BugFix, Feature

#45 refactor: 주점 이미지 파일 수정,삭제 로직 개선 (#44)
  src/main/java/com/festival/domain/info/festivalPub/data/dto/response/PubResponse.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: Refactor

#46 Feature : FestivalEvent 수정, 삭제 기능 구현
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventRes.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEventImage.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
Labels: Feature, Refactor

#49 Feature/48 flea market entity
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarket.java
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarketImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: Feature, Refactor

#51 refactor: 주점의 메인파일 수정 로직 개선 (#50)
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarketImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
Labels: Refactor

#52 Feature : FestivalEvent 파일 수정, 삭제 기능 구현
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEventImage.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
Labels: Feature

#54 refactor: 연관관계 수정 (#53)
  src/main/java/com/festival/domain/admin/data/entity/Admin.java
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarket.java
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarketImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/file/PubImage.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
Labels: Refactor

#58 Feature/57 festival event refactor
  src/main/java/com/festival/domain/admin/exception/AdminNotFoundException.java
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventRes.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEventImage.java
  src/main/java/com/festival/domain/info/festivalEvent/exception/FestivalEventImageNotFoundException.java
  src/main/java/com/festival/domain/info/festivalEvent/exception/FestivalEventNotFoundException.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
  src/main/java/com/festival/global/exception/ErrorCode.java
  src/main/java/com/festival/global/exception/GlobalExceptionAdvice.java
Labels: Refactor

#61 Feature : 축제 영상 수정, 삭제 기능 구현, NotFound예외처리 추가
  src/main/java/com/festival/domain/film/controller/FilmController.java
  src/main/java/com/festival/domain/film/data/entity/Film.java
  src/main/java/com/festival/domain/film/exception/FilmNotFoundException.java
  src/main/java/com/festival/domain/film/service/FilmService.java
  src/main/java/com/festival/global/exception/ErrorCode.java
  src/main/java/com/festival/global/exception/GlobalExceptionAdvice.java
Labels: Feature

#62 refactor: 연관관계 설정 단방향으로 변경 (#60)
  src/main/java/com/festival/domain/admin/data/entity/Admin.java
  src/main/java/com/festival/domain/info/festivalPub/data/entity/pub/Pub.java
Labels: Refactor

#64 Config : Spring Security 의존성 추가, 기능 제외
  build.gradle
  src/main/java/com/festival/FestivalApplication.java
  src/main/resources/application.yml
Labels: Config

#74 Feature/65 jwt
  build.gradle
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/domain/admin/controller/AdminController.java
  src/main/java/com/festival/domain/admin/data/dto/JwtTokenRes.java
  src/main/java/com/festival/domain/admin/data/dto/LoginReq.java
  src/main/java/com/festival/domain/admin/data/entity/Admin.java
  src/main/java/com/festival/domain/admin/repository/AdminRepository.java
  src/main/java/com/festival/domain/admin/service/AdminService.java
  src/main/java/com/festival/domain/film/controller/FilmController.java
  src/main/java/com/festival/domain/film/data/entity/Film.java
  src/main/java/com/festival/domain/fleaMarket/data/entity/FleaMarket.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruck.java
  src/main/java/com/festival/domain/info/festivalEvent/data/entity/FestivalEvent.java
  src/main/java/com/festival/global/config/SecurityConfig.java
  src/main/java/com/festival/global/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/festival/global/security/provider/TokenProvider.java
  src/main/java/com/festival/global/security/service/CustomUserDetailsService.java
  src/main/java/com/festival/initData/NotProd.java
Labels: Feature

#78 bug: 로컬 환경 수정
  src/main/java/com/festival/AwsConfig.java
  src/main/java/com/festival/common/utils/ImageServiceUtils.java
  src/main/java/com/festival/domain/fleaMarket/controller/FleaMarketController.java
  src/main/java/com/festival/domain/fleaMarket/service/FleaMarketService.java
  src/main/java/com/festival/domain/foodTruck/data/entity/FoodTruckImage.java
  src/main/java/com/festival/domain/foodTruck/service/impl/FoodTruckServiceImpl.java
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
  src/main/java/com/festival/domain/info/festivalPub/controller/PubController.java
  src/main/java/com/festival/domain/info/festivalPub/service/PubService.java
  src/main/resources/application.yml
Labels: BugFix

#80 Refactor/79 api combine
  src/main/java/com/festival/common/base/CommonIdResponse.java
  src/main/java/com/festival/domain/film/controller/FilmController.java
  src/main/java/com/festival/domain/film/data/dto/FilmRes.java
  src/main/java/com/festival/domain/film/service/FilmService.java
  src/main/java/com/festival/domain/info/festivalEvent/controller/FestivalEventController.java
  src/main/java/com/festival/domain/info/festivalEvent/data/dto/FestivalEventRes.java
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
Labels: Refactor

#82 BugFix : 축제 이벤트 NamedQuery 인자 수정
  src/main/java/com/festival/domain/info/festivalEvent/repository/FestivalEventRepository.java
  src/main/java/com/festival/domain/info/festivalEvent/service/FestivalEventService.java
Labels: BugFix
