Repository miIlicon/wf-back, pull requests merged in 2023-10, with the labels that each got.

#322 [#321] 프로그램 파라미터명 변경
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
Labels: ♻️ Refactor

#324 [#323] S3 입출력 로직 활성화
  src/main/java/com/festival/common/util/ImageUtils.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/image/service/ImageService.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: ♻️ Refactor

#326 [#325] jwtToken에 대한 예외처리 작성.
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/common/security/dto/JwtTokenRes.java
Labels: 🚀 Feature

#328 [#327] 인증되지 않은 사용자에 대한 토큰 NULL값 버그수정
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: 🐛 BugFix

#330 [#329] 부스와 프로그램 운영 상태 응닶DTO를 통일 시킵니다.
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothSearchRes.java
Labels: ♻️ Refactor

#333 [#332] 가이드 응답 스펙에 username을 추가합니다.
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
Labels: ♻️ Refactor

#334 [#331] RefreshToken 도입( 발급, 재발급)
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/common/security/dto/JwtTokenRes.java
  src/main/java/com/festival/common/util/JwtTokenUtils.java
  src/main/java/com/festival/common/util/SecurityUtils.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🚀 Feature, ♻️ Refactor

#338 [#335] Redis를 이용해 토큰 탈취를 감지
  src/main/java/com/festival/common/redis/RedisConfig.java
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/service/MemberService.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: 🐛 BugFix, 🚀 Feature

#342 [#341] 로그아웃 기능 구현 및 필터 예외 처리
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/redis/EmbeddedRedisConfig.java
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🚀 Feature

#344 [#343] 재발급 요청 시 토큰의 로그아웃 여부를 체크합니다.
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🚀 Feature

#346 [#345] 안내사항 등록시간 응답 추가
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
Labels: ♻️ Refactor

#347 Version 1.0.0
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/redis/RedisConfig.java
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/common/util/ImageUtils.java
  src/main/java/com/festival/common/util/JwtTokenUtils.java
  src/main/java/com/festival/common/util/SecurityUtils.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothSearchRes.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/image/service/ImageService.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/service/MemberService.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
Labels: major

#349 [#348] 수정 사항에 따른 테스트 버그수정
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
  src/test/java/com/festival/domain/image/fixture/ImageFixture.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
Labels: 🐛 BugFix, ✅ Test

#350 Version 1.0.1
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
  src/test/java/com/festival/domain/image/fixture/ImageFixture.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
Labels: patch

#351 [#noissue] 배포 포트주소 변경
  .github/workflows/work.yml
Labels: patch

#352 [#noissue] refactor: OPTIONS 요청 허용
  src/main/java/com/festival/common/security/config/SecurityConfig.java
Labels: ♻️ Refactor

#353 withFestival 배포 v1.0.2
  src/main/java/com/festival/common/security/config/SecurityConfig.java
Labels: patch

#354 CORS 버그 수정
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: patch

#355 CORS
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: 🐛 BugFix, minor

#357 배포 v1.1.1
  src/main/java/com/festival/FestivalApplication.java
Labels: patch

#359 CORS
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: minor

#360 bugFix :
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/common/security/WebConfig.java
Labels: 🐛 BugFix, minor

#361 bugFix :
  src/main/java/com/festival/common/security/WebConfig.java
Labels: minor

#363 [#362] 전체 방문자 수 체크 기능 구현
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/viewcount/ViewCount.java
  src/main/java/com/festival/domain/viewcount/controller/ViewCountController.java
  src/main/java/com/festival/domain/viewcount/repository/ViewCountRepository.java
  src/main/java/com/festival/domain/viewcount/service/ViewCountService.java
Labels: 🚀 Feature

#364 전체 방문자 수 체킹 기능 추가
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/viewcount/ViewCount.java
  src/main/java/com/festival/domain/viewcount/controller/ViewCountController.java
  src/main/java/com/festival/domain/viewcount/repository/ViewCountRepository.java
  src/main/java/com/festival/domain/viewcount/service/ViewCountService.java
Labels: minor

#366 [#365] 회원가입 API 제거
  src/main/java/com/festival/domain/member/controller/MemberController.java
Labels: ♻️ Refactor

#367 회원가입 API 제거
  src/main/java/com/festival/domain/member/controller/MemberController.java
Labels: minor

#369 [#368] 회원가입 테스트 제거
  src/test/java/com/festival/domain/member/controller/MemberIntegrationTest.java
Labels: ✅ Test

#370 회원가입 테스트 제거
  src/test/java/com/festival/domain/member/controller/MemberIntegrationTest.java
Labels: minor

#374 가이드 역순 정렬
  src/main/java/com/festival/domain/guide/repository/impl/GuideRepositoryImpl.java
Labels: minor

#375 [#noissue] Refactor/guide test
  build.gradle
  pr_labels.json
  src/main/resources/application.yml
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
Labels: ♻️ Refactor

#376 [#noissue] 테스트 로직 수정 배포
  build.gradle
  src/main/resources/application.yml
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
Labels: patch

#379 header Options 체킹 제거
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: minor

#381 AT, RT getAuthentication, parseClaim메서드 분리
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: ♻️ Refactor

#382 AT, RT getAuthentication, parseClaim메서드 분리
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: minor

#384 [#383] 로그 추가
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
Labels: 🐛 BugFix

#385 필터, 컨트롤러 로그 추가
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
Labels: minor

#387 [#386] jwtFilter resposne contentType 수정
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: 🐛 BugFix

#388 jwtFilter Exception Response contentTpye수정
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: minor

#389 Options체킹 활성화.java
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
Labels: minor

#392 [#391] 재발급된 AccessToken 권한 설정 오류
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🐛 BugFix

#393 재발급된 AccessToken 권한 설정 오류
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: minor

#395 [#394] filter response cors 설정 추가
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
Labels: 🐛 BugFix

#396 jwtfilter response CORS 설정 추가
  src/main/java/com/festival/common/security/JwtAuthenticationFilter.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
Labels: 🐛 BugFix

#400 서비스 배포
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/resources/application-prod.yml
Labels: minor

#402 [#401] 조회수 로직 수정
  README.md
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: 🐛 BugFix, ♻️ Refactor

#404 [#403] 대나무숲 작성 시간 반환값 추가
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestRes.java
Labels: 🚀 Feature

#406 [#405] 검색결과 게시물 상태 필터링
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/repository/impl/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/repository/impl/ProgramRepositoryCustomImpl.java
Labels: 🐛 BugFix

#408 [#407] 전체 조회수 엔티티명 변경
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/viewcount/Home.java
  src/main/java/com/festival/domain/viewcount/controller/ViewCountController.java
  src/main/java/com/festival/domain/viewcount/repository/HomeRepository.java
  src/main/java/com/festival/domain/viewcount/repository/ViewCountRepository.java
  src/main/java/com/festival/domain/viewcount/service/HomeService.java
  src/main/java/com/festival/domain/viewcount/service/ViewCountService.java
Labels: ♻️ Refactor

#410 Redis Sercice 관점 분리
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/common/util/JwtTokenUtils.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/service/MemberService.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/viewcount/service/HomeService.java
  src/main/java/com/festival/domain/viewcount/util/ViewCountUtil.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: ♻️ Refactor
