Repository miIlicon/wf-back, pull requests merged in 2023-09, with the labels that each got.

#130 [#129] 엔티티 생성, 수정 시 담당자 업데이트
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/common/util/AuditingConfig.java
Labels: 🐛 BugFix, 🚀 Feature

#133 [#132] 권한체킹 유틸 생성
  src/main/java/com/festival/common/util/SecurityUtils.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/member/model/Member.java
  src/main/java/com/festival/domain/member/model/MemberRole.java
Labels: 🚀 Feature

#134 [#131] 대나무숲 서비스 단위 테스트 작성
  src/test/java/com/festival/domain/bambooforest/fixture/BamBooForestFixture.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
  src/test/java/com/festival/domain/member/fixture/MemberFixture.java
Labels: ✅ Test

#137 [#128] 안내사항 통합테스트 로직을 구현한다.
  src/main/java/com/festival/common/util/ImageUtils.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryCustom.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/image/service/ImageService.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
Labels: ✅ Test, ♻️ Refactor

#138 [#135] 축제 프로그램 Service Layer 단위 테스트 작성
  src/main/java/com/festival/common/util/SecurityUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/model/ProgramStatus.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
  src/test/java/com/festival/domain/member/fixture/MemberFixture.java
  src/test/java/com/festival/domain/program/fixture/ProgramFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: 🚀 Feature, ✅ Test, ♻️ Refactor

#140 [#139] ADMIN, MANAGER권한 분리에 따른 서비스 로직 수정 작업 #139
  src/main/java/com/festival/common/base/BaseEntity.java
  src/main/java/com/festival/common/base/OperateStatus.java
  src/main/java/com/festival/common/exception/custom_exception/NotFoundException.java
  src/main/java/com/festival/common/util/SecurityUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForest.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForestStatus.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/model/BoothStatus.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/model/GuideStatus.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/model/MemberRole.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/model/ProgramStatus.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
  src/main/java/com/festival/domain/timetable/model/TimeTableStatus.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestControllerTest.java
  src/test/java/com/festival/domain/bambooforest/fixture/BamBooForestFixture.java
  src/test/java/com/festival/domain/booth/fixture/BoothFixture.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
  src/test/java/com/festival/domain/program/fixture/ProgramFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: ✅ Test, 🛠 Setting, ♻️ Refactor

#142 [#141] CustomException 공통 처리
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/exception/ErrorResponse.java
  src/main/java/com/festival/common/exception/GlobalExceptionHandler.java
Labels: 🚀 Feature

#144 [#124, #128] 대나무숲, 안내사항 통합테스트 케이스 추가
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestControllerTest.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
Labels: ✅ Test, ♻️ Refactor

#146 [#145] 축제부스 통합 테스트 로직을 작성한다.
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/model/BoothType.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestControllerTest.java
  src/test/java/com/festival/domain/booth/controller/BoothControllerTest.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
  src/test/java/com/festival/domain/util/ControllerTestSupport.java
Labels: ✅ Test, ♻️ Refactor

#147 [#143] 타임테이블 서비스 계층 단위 테스트 작성
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
  src/test/java/com/festival/domain/member/fixture/MemberFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
  src/test/java/com/festival/domain/timetable/fixture/TimeTableFixture.java
  src/test/java/com/festival/domain/timetable/service/TimeTableServiceTest.java
Labels: 🐛 BugFix, ✅ Test

#150 Test/149 program integration test
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/main/java/com/festival/domain/program/model/ProgramType.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
  src/test/java/com/festival/domain/booth/controller/BoothControllerTest.java
  src/test/java/com/festival/domain/program/controller/ProgramControllerTest.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: ✅ Test, ♻️ Refactor

#151 [#148] 대나무숲 서비스 계층 단위 테스트 수정
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestReq.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForest.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestControllerTest.java
  src/test/java/com/festival/domain/bambooforest/fixture/BamBooForestFixture.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
Labels: 🐛 BugFix, ✅ Test

#154 [#152] 축제 부스 서비스 단위테스트 수정
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/test/java/com/festival/domain/booth/fixture/BoothFixture.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
Labels: 🐛 BugFix, ✅ Test

#156 [#153] 시간표 도메인에 대한 통합 테스트 로직을 구현한다.
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableControllerTest.java
  src/test/java/com/festival/domain/timetable/service/TimeTableServiceTest.java
Labels: ✅ Test, ♻️ Refactor

#157 [#155] 축제 프로그램 서비스 단위 테스트 수정
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/test/java/com/festival/domain/program/fixture/ProgramFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: 🐛 BugFix, ✅ Test

#159 [#158] 축제 가이드 서비스 단 단위 테스트 작성
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/test/java/com/festival/domain/guide/fixture/GuideFixture.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: ✅ Test

#161 [#160] ImageFixture 변수 명 수정
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
  src/test/java/com/festival/domain/image/fixture/ImageFixture.java
Labels: ♻️ Refactor

#165 [#164] 안내사항 도메인의 로직 개선 사항을 적용한다.
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestRes.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/GuideType.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/test/java/com/festival/domain/guide/controller/GuideControllerTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: ♻️ Refactor

#167 [#166] 대나무숲, 시간표 도메인의 권한은 ADMIN으로 한정한다.
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: ♻️ Refactor

#169 Feature/168 invalid dto
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/exception/GlobalExceptionHandler.java
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestReq.java
  src/main/resources/application.yml
Labels: ♻️ Refactor

#172 [#171] 통합테스트 페이징 개수 조절
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableIntegrationTest.java
Labels: ✅ Test, ♻️ Refactor

#173 [#170] Response DTO 페이징 정보 추가
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestPageRes.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestRes.java
  src/main/java/com/festival/domain/bambooforest/repository/BamBooForestRepositoryCustom.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothPageRes.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryCustom.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/booth/service/vo/BoothListSearchCond.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuidePageRes.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryCustom.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/repository/impl/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/repository/vo/GuideSearchCond.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramPageRes.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustom.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/program/service/vo/ProgramSearchCond.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
Labels: 🚀 Feature, ✅ Test, ♻️ Refactor

#175 [#174] 조회수 증감 로직을 구현한다.(V1)
  build.gradle
  src/main/java/com/festival/common/redis/RedisConfig.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: 🚀 Feature, 🛠 Setting

#177 [#176] 안내사항 조회수 로직 리팩토링
  src/main/java/com/festival/common/redis/RedisConfig.java
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/common/scheduler/SchedulerConfig.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
Labels: 🛠 Setting, ♻️ Refactor

#178 [#176] 도메인별 조회수 증감 로직을 리팩토링한다.
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: ♻️ Refactor

#179 [#176] 스케줄러 다른 도메인 로직 적용
  src/main/java/com/festival/common/redis/RedisService.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: ♻️ Refactor

#181 [#180] 컨트롤러계층에서 throw문 제거
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: ♻️ Refactor

#184 [#180] 각 도메인에 대한 통합 검색 로직을 추가한다.
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothSearchRes.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryCustom.java
  src/main/java/com/festival/domain/booth/repository/impl/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/main/java/com/festival/domain/program/dto/ProgramSearchRes.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustom.java
  src/main/java/com/festival/domain/program/repository/impl/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: 🚀 Feature, ♻️ Refactor

#186 [#185] 시간표 dto 미사용 필드 삭제
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
Labels: ♻️ Refactor

#188 [#187 ] NCP 배포 환경 세팅
  build.gradle
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
Labels: 🛠 Setting

#190 Refactor/189 redis enable
  src/main/java/com/festival/common/redis/RedisConfig.java
  src/main/resources/application-prod.yml
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: ♻️ Refactor

#192 [#191] 상황별 테스트 일괄 통과를 위한 내장 Redis 추가
  build.gradle
  src/test/java/com/festival/domain/util/TestRedisConfig.java
Labels: 🚀 Feature, 🛠 Setting, ♻️ Refactor

#194 [#193] Redis 스캔 경고 메시지 제거
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Labels: 🐛 BugFix, 🛠 Setting

#196 [#195] 테스트 전용 내장Redis 설정
  src/main/resources/application-test.yml
  src/test/java/com/festival/domain/util/TestRedisConfig.java
Labels: 🐛 BugFix, 🛠 Setting

#197 feature/Create work.yml
  .github/workflows/work.yml
Labels: 🚀 Feature, 🛠 Setting

#202 Test/201 real time query
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/member/model/AuthDetailsEntity.java
  src/main/java/com/festival/domain/member/model/Member.java
Labels: ✅ Test

#204 [#203] 성능 테스트를 위한 벌크 인서트 추가
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/domain/booth/controller/dto/BulkInsertBooth.java
  src/main/java/com/festival/domain/booth/repository/BoothJdbcRepository.java
Labels: 🛠 Setting

#206 Bug fix/205 bulk insert
  src/main/java/com/festival/common/data/Data.java
Labels: 🐛 BugFix

#207 [#207] id매칭 하드코딩 제거
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🐛 BugFix

#209 [#209] Title로 Booth조회
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/repository/BoothRepository.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryCustom.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
Labels: 🚀 Feature, 🛠 Setting

#212 [#211] 스프링부트 프로젝트의 버전을 명령어에 따라 자동으로 상승되도록 한다.
  build.gradle
  src/main/resources/application.yml
Labels: 🛠 Setting, patch

#214 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#216 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#217 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#218 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#219 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#220 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#221 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#222 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#223 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#224 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#225 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#226 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#227 Update and rename Automerge.yml to automerge.yml
  .github/workflows/automerge.yml
Labels: patch

#228 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#229 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#230 Update version-update.yml
  .github/workflows/version-update.yml
Labels: patch

#232 [#231] swagger api 연동하기 v2
  src/main/java/com/festival/common/swagger/SwaggerConfig.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: patch

#234 [#233] 스냅샷 버전 동기화
  build.gradle
Labels: ♻️ Refactor

#236 [#235] security config 이동 및 preAuthorized 관련 어노테이션 추가
  src/main/java/com/festival/common/security/config/SecurityConfig.java
Labels: 🚀 Feature

#239 [#238] swagger header적용범위 수정
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: ♻️ Refactor

#241 [#240] 테스트 버그 수정
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
Labels: 🐛 BugFix

#242 [#240] 컨트롤러 권한 설정 괄호 수정
  src/main/java/com/festival/domain/program/controller/ProgramController.java
Labels: 🐛 BugFix

#246 [#245] DTO 스타일 통합
  build.gradle
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestPageRes.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestRes.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothListReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothPageRes.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BulkInsertBooth.java
  src/main/java/com/festival/domain/guide/dto/GuidePageRes.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/member/dto/MemberJoinReq.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramPageRes.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableSearchCond.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
Labels: ♻️ Refactor

#250 [#249] JWT권한 검증 버그 수정
  src/main/java/com/festival/common/security/JwtTokenProvider.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/member/model/MemberRole.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: 🐛 BugFix

#251 [#244] Member 도메인 통합 테스트 로직 구현
  src/main/java/com/festival/common/security/config/SecurityConfig.java
  src/main/java/com/festival/common/security/dto/MemberLoginReq.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/test/java/com/festival/domain/member/controller/MemberControllerTest.java
  src/test/java/com/festival/domain/util/TestRedisConfig.java
Labels: ✅ Test, ♻️ Refactor

#256 Refactoring/255 controller
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
Labels: ♻️ Refactor

#258 Refactor/257 domain status re setting
  src/main/java/com/festival/common/base/BaseEntity.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: ♻️ Refactor

#260 [#259] 도메인 삭제로직 변경
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestListReq.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestReq.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForest.java
  src/main/java/com/festival/domain/bambooforest/repository/BamBooForestRepositoryCustom.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/bambooforest/service/vo/BamBooForestSearchCond.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/repository/impl/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/dto/GuideListReq.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/model/GuideType.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryCustom.java
  src/main/java/com/festival/domain/guide/repository/impl/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/repository/vo/GuideSearchCond.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/program/repository/impl/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/program/service/vo/ProgramSearchCond.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableSearchCond.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
Labels: ♻️ Refactor

#262 프로그램, 부스 운영 상태 관리 로직 구현
  src/main/java/com/festival/common/base/OperateStatus.java
  src/main/java/com/festival/common/data/Data.java
  src/main/java/com/festival/common/scheduler/SchedulerRunner.java
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothListReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/repository/BoothRepository.java
  src/main/java/com/festival/domain/booth/repository/impl/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/repository/ProgramRepository.java
  src/main/java/com/festival/domain/program/repository/impl/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/program/service/vo/ProgramSearchCond.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: 🚀 Feature, ♻️ Refactor

#264 [#263] 테스트 로직 컴파일 단계까지만 수정
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/bambooforest/fixture/BamBooForestFixture.java
  src/test/java/com/festival/domain/bambooforest/service/BamBooForestServiceTest.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/fixture/BoothFixture.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/guide/fixture/GuideFixture.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
  src/test/java/com/festival/domain/member/controller/MemberIntegrationTest.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/program/fixture/ProgramFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableIntegrationTest.java
  src/test/java/com/festival/domain/timetable/fixture/TimeTableFixture.java
  src/test/java/com/festival/domain/timetable/service/TimeTableServiceTest.java
Labels: ✅ Test

#267 [#266] 리팩토링 작업으로 인한 프로그램 도메인 테스트 로직 수정
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/program/fixture/ProgramFixture.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: ✅ Test, ♻️ Refactor

#269 [#268] test: 리팩토링으로 인한 테스트코드 수정(TimeTable)
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableIntegrationTest.java
  src/test/java/com/festival/domain/timetable/fixture/TimeTableFixture.java
  src/test/java/com/festival/domain/timetable/service/TimeTableServiceTest.java
Labels: ✅ Test, ♻️ Refactor

#272 [#268] 리팩토링 작업으로 인한 부스 도메인 테스트 로직 수정
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/fixture/BoothFixture.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
Labels: 🐛 BugFix, ✅ Test

#271 [#270] 안내사항 도메인 테스트 코드 수정
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideListReq.java
  src/main/java/com/festival/domain/guide/dto/GuidePageRes.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/guide/fixture/GuideFixture.java
  src/test/java/com/festival/domain/guide/service/GuideServiceTest.java
Labels: ✅ Test, ♻️ Refactor

#274 [#273] 대나무숲 테스트 수정
  src/test/java/com/festival/domain/bambooforest/fixture/BamBooForestFixture.java
Labels: 🐛 BugFix, ✅ Test

#276 [#275] 프로그램, 부스 운영 상태 업데이트 테스트 작성
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/test/java/com/festival/domain/booth/controller/BoothIntegrationTest.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/program/controller/ProgramIntegrationTest.java
  src/test/java/com/festival/domain/program/service/ProgramServiceTest.java
Labels: ✅ Test

#279 [#279] 테스트 환경 구축
  build.gradle
  src/main/java/com/festival/common/redis/EmbeddedRedisConfig.java
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestListReq.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothListReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/dto/MemberJoinReq.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramListReq.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableReq.java
Labels: 🛠 Setting

#280 [#277] 시간 검증 코드 수정
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
Labels: ✅ Test, ♻️ Refactor

#281 [#277] 쿼리 조회시에 삭제객체 조회X
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/booth/repository/impl/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/guide/repository/impl/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/program/repository/impl/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
Labels: ♻️ Refactor

#284 [#283] 프로그램 단건 조회 삭제 로직 수정
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: 🐛 BugFix, ♻️ Refactor

#285 [#282] 쿼리 단건 조회 로직 수정
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
Labels: ♻️ Refactor

#289 [#288] build.gradle 버전 업데이트 코드 추가
  build.gradle
  src/main/resources/application.yml
Labels: 🐛 BugFix, ♻️ Refactor

#292 버전 업데이트 코드 수정
  .github/workflows/version-update.yml
Labels: 🛠 Setting

#293 릴리즈 노트 생성 테스트 2
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#294 릴리즈 노트 생성 테스트 2
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#295 [#290] API contentType 통합
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: ♻️ Refactor

#296 릴리즈 노트 생성 테스트 3
  .github/workflows/version-update.yml
  .github/workflows/work.yml
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: 🛠 Setting, patch

#297 릴리즈 노트 생성 테스트 4
  .github/workflows/work.yml
Labels: patch

#298 릴리즈 노트 생성 테스트 5
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#300 릴리즈 노트 테스트 6
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#301 릴리즈 노트 생성 테스트 7
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#303 [#302] 테스트 수정
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/member/controller/MemberIntegrationTest.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableIntegrationTest.java
Labels: 🐛 BugFix, ✅ Test

#304 릴리즈 노트 생성 테스트 8
  .github/workflows/work.yml
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestIntegrationTest.java
  src/test/java/com/festival/domain/guide/controller/GuideIntegrationTest.java
  src/test/java/com/festival/domain/member/controller/MemberIntegrationTest.java
  src/test/java/com/festival/domain/timetable/controller/TimeTableIntegrationTest.java
Labels: 🛠 Setting, patch

#305 릴리즈 노트 생성 테스트 9
  .github/workflows/work.yml
Labels: 🛠 Setting, patch

#306 릴리즈 노트 생성 테스트 11
  .github/labeler.yml
  .github/release-drafter-config.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
Labels: patch

#307 릴리즈 노트 생성 테스트 12
  .github/release-drafter-config.yml
Labels: patch

#310 릴리즈 노트 생성 테스트 14
  .github/release-drafter-config.yml
Labels: patch

#311 릴리즈 노트 생성 테스트 14
  .github/workflows/release-drafter.yml
Labels: patch

#312 릴리즈 노트 생성 테스트 15
  .github/workflows/release-drafter.yml
Labels: patch

#313 릴리즈 노트 생성 테스트
  .github/release-drafter-config.yml
  .github/workflows/release-drafter.yml
Labels: patch

#316 Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#317 Rename release-drafter-config.yml to release-drafter.yml
  .github/release-drafter.yml
Labels: patch

#318 릴리즈 노트 생성 테스트 최종
  .github/workflows/release-drafter.yml
Labels: minor

#319 릴리즈 노트 생성 테스트
  .github/workflows/release-drafter.yml
Labels: minor

#320 [#noissue] ReadMe.md 업데이트
  README.md
Labels: patch
