Repository miIlicon/wf-back, pull requests merged in 2023-08, with the labels that each got.

#94 Refactoring/project init
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/common/exception/ControllerAdvice.java
  src/main/java/com/festival/common/scheduler/SchedulerConfig.java
  src/main/java/com/festival/common/security/SecurityConfig.java
  src/main/java/com/festival/common/swagger/SwaggerConfig.java
  src/main/java/com/festival/common/util/AuditingConfig.java
  src/main/java/com/festival/common/util/Utill.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BambooForestDto.java
  src/main/java/com/festival/domain/bambooforest/model/BambooForest.java
  src/main/java/com/festival/domain/bambooforest/repository/BamBooForestRepository.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/dto/BoothDto.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/repository/BoothRepository.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideRequest.java
  src/main/java/com/festival/domain/guide/dto/GuideResponse.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/repository/GuideRepository.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/dto/MemberDto.java
  src/main/java/com/festival/domain/member/model/Member.java
  src/main/java/com/festival/domain/member/repository/MemberRepository.java
  src/main/java/com/festival/domain/member/service/MemberService.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/dto/ProgramDto.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/repository/ProgramRepository.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDto.java
  src/main/java/com/festival/domain/timetable/model/TImeTable.java
  src/main/java/com/festival/domain/timetable/repository/TimeTableRepository.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
  src/main/java/com/festival/old/domain/info/festivalPub/repository/PubRepositoryImpl.java
Labels: Refactor

#97 [#95] 시간표 도메인의 CRUD 기능을 구현한다.
  src/main/java/com/festival/common/base/BaseEntity.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableCreateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDateReq.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableDto.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableRes.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableSearchCond.java
  src/main/java/com/festival/domain/timetable/model/TImeTable.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
  src/main/java/com/festival/domain/timetable/model/TimeTableStatus.java
  src/main/java/com/festival/domain/timetable/repository/TimeTableRepository.java
  src/main/java/com/festival/domain/timetable/repository/TimeTableRepositoryCustom.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
  src/main/java/com/festival/old/domain/fleaMarket/repository/FleaMarketRepositoryImpl.java
  src/main/java/com/festival/old/domain/foodTruck/repository/impl/FoodTruckRepositoryCustomImpl.java
Labels: Feature

#101 [#100] 축제부스 CRUD설계
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothListReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/dto/BoothDto.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/model/BoothStatus.java
  src/main/java/com/festival/domain/booth/model/BoothType.java
  src/main/java/com/festival/domain/booth/repository/BoothCustomRepository.java
  src/main/java/com/festival/domain/booth/repository/BoothRepository.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/booth/service/vo/BoothListSearchCond.java
Labels: Feature, Refactor

#99 [#98] 대나무 숲 도메인의 CRUD 기능을 구현한다.
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestCreateReq.java
  src/main/java/com/festival/domain/bambooforest/dto/BamBooForestRes.java
  src/main/java/com/festival/domain/bambooforest/dto/BambooForestDto.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForest.java
  src/main/java/com/festival/domain/bambooforest/model/BamBooForestStatus.java
  src/main/java/com/festival/domain/bambooforest/model/BambooForest.java
  src/main/java/com/festival/domain/bambooforest/repository/BamBooForestRepository.java
  src/main/java/com/festival/domain/bambooforest/repository/BamBooForestRepositoryCustom.java
  src/main/java/com/festival/domain/bambooforest/repository/impl/BamBooForestRepositoryImpl.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/bambooforest/service/vo/BamBooForestSearchCond.java
Labels: Feature

#103 [#102] TimeTable 조회시에 Paging 처리 제거
  src/main/java/com/festival/domain/timetable/dto/TimeTableSearchCond.java
  src/main/java/com/festival/domain/timetable/repository/TimeTableRepositoryCustom.java
  src/main/java/com/festival/domain/timetable/repository/impl/TimeTableRepositoryImpl.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
Labels: Refactor

#106 [#105] 안내사항 도메인의 CRUD 기능을 구현한다.
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/repository/BoothRepository.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryCustom.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRequest.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/dto/GuideResponse.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/model/GuideStatus.java
  src/main/java/com/festival/domain/guide/model/GuideType.java
  src/main/java/com/festival/domain/guide/repository/GuideRepository.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryCustom.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/repository/vo/GuideSearchCond.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: Feature

#111 [#108] 축제 부스 이미지 업로드 로직 작성
  src/main/java/com/festival/common/util/ImageUtils.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothRes.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryCustom.java
  src/main/java/com/festival/domain/booth/repository/BoothRepositoryImpl.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/image/model/Image.java
  src/main/java/com/festival/domain/image/repository/ImageRepository.java
  src/main/java/com/festival/domain/image/service/ImageService.java
  src/main/java/com/festival/domain/program/repository/ProgramRepository.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustom.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/resources/application-dev.yml
Labels: Feature, Refactor

#113 [#112] @RequestBody -> @ModelAttribute수정
  src/main/java/com/festival/FestivalApplication.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
Labels: BugFix, Config

#115 [#109] Validation utils 유효성 체크 로직 추가
  src/main/java/com/festival/common/util/ValidationUtils.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/model/GuideStatus.java
  src/main/java/com/festival/domain/guide/model/GuideType.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/dto/TimeTableCreateReq.java
Labels: Feature

#116 [#114] 축제 프로그램, 가이드 이미지 업로드 로직 작성
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/dto/GuideReq.java
  src/main/java/com/festival/domain/guide/dto/GuideRes.java
  src/main/java/com/festival/domain/guide/model/Guide.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryCustom.java
  src/main/java/com/festival/domain/guide/repository/GuideRepositoryImpl.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/program/dto/ProgramReq.java
  src/main/java/com/festival/domain/program/dto/ProgramRes.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustom.java
  src/main/java/com/festival/domain/program/repository/ProgramRepositoryCustomImpl.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
Labels: 🚀 Feature

#110 [#107] 멤버 도메인의 기본적인 CRUD로직을 구현한다.
  src/main/java/com/festival/common/security/SecurityConfig.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/dto/MemberDto.java
  src/main/java/com/festival/domain/member/dto/MemberReq.java
  src/main/java/com/festival/domain/member/model/Member.java
  src/main/java/com/festival/domain/member/model/MemberRole.java
  src/main/java/com/festival/domain/member/repository/MemberRepository.java
  src/main/java/com/festival/domain/member/service/MemberService.java
Labels: 🚀 Feature

#122 [#121] 예외 공통 처리 로직 작성
  src/main/java/com/festival/common/exception/ControllerAdvice.java
  src/main/java/com/festival/common/exception/CustomException.java
  src/main/java/com/festival/common/exception/ErrorCode.java
  src/main/java/com/festival/common/exception/GlobalExceptionHandler.java
  src/main/java/com/festival/common/exception/custom_exception/DuplicationException.java
  src/main/java/com/festival/common/exception/custom_exception/ForbiddenException.java
  src/main/java/com/festival/common/exception/custom_exception/InvalidException.java
  src/main/java/com/festival/common/exception/custom_exception/NotFoundException.java
  src/main/java/com/festival/common/util/ImageUtils.java
  src/main/java/com/festival/common/util/Utill.java
  src/main/java/com/festival/domain/bambooforest/controller/BambooForestController.java
  src/main/java/com/festival/domain/bambooforest/service/BamBooForestService.java
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/model/Booth.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/java/com/festival/domain/guide/controller/GuideController.java
  src/main/java/com/festival/domain/guide/service/GuideService.java
  src/main/java/com/festival/domain/image/service/ImageService.java
  src/main/java/com/festival/domain/member/controller/MemberController.java
  src/main/java/com/festival/domain/member/service/MemberService.java
  src/main/java/com/festival/domain/program/controller/ProgramController.java
  src/main/java/com/festival/domain/program/model/Program.java
  src/main/java/com/festival/domain/program/service/ProgramService.java
  src/main/java/com/festival/domain/timetable/controller/TimeTableController.java
  src/main/java/com/festival/domain/timetable/model/TimeTable.java
  src/main/java/com/festival/domain/timetable/service/TimeTableService.java
Labels: 🚀 Feature

#126 [#123] 축제 부스 Service Layer 단위 테스트 작성
  src/main/java/com/festival/domain/booth/controller/BoothController.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothListReq.java
  src/main/java/com/festival/domain/booth/controller/dto/BoothReq.java
  src/main/java/com/festival/domain/booth/service/BoothService.java
  src/main/resources/static/image/test_image.jpg
  src/test/java/com/festival/domain/booth/fixture/BoothFixture.java
  src/test/java/com/festival/domain/booth/service/BoothServiceTest.java
  src/test/java/com/festival/domain/image/fixture/ImageFixture.java
  src/test/java/com/festival/domain/util/TestImageUtils.java
Labels: ✅ Test

#127 [#124] 대나무숲 테스트 케이스 수정
  src/test/java/com/festival/ControllerTestSupport.java
  src/test/java/com/festival/domain/bambooforest/controller/BambooForestControllerTest.java
Labels: ✅ Test, ♻️ Refactor
